.home {

font-size: 20px;
position: absolute;
margin-left: 843px;
font-family: 'Alata', sans-serif;

}

.about {

font-size: 20px;
position: absolute;
margin-left: 946px;
font-family: 'Alata', sans-serif;

}

.service {

    font-size: 20px;
    position: absolute;
    margin-left:1052px;
    font-family: 'Alata', sans-serif;
}

.galery {


    font-size: 20px;
    position: absolute;
    margin-left:1166px;
    font-family: 'Alata', sans-serif;
}

.contact {

font-size: 20px;
position: absolute;
margin-left:1270px;
font-family: 'Alata', sans-serif;
}

.logoyeyen {


    width: 310px;
    height: 61px;
    margin-top: 32px;
    margin-left: 30px;
}

.hr1 {

background-color: #EBA1A1;

}
 .potohomepertama
  {

margin-left: 87px;
margin-top: 40px;


  }

  .textlorempertama {

font-family: 'Alex Brush', cursive;
font-size: 40px;
margin-left: 150px;

  }

  .textpernikahan {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    font-size: 22px;
    text-align: center;
line-height: 27px;
font-style: normal;

  }

  .anonim {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    font-size: 20px;
    

  }

  .ourservice {
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    color: #EBA1A1;
    text-align: center;

    margin-top: 50px;

  }

  .weddingpoto {


position: absolute;
height: 193px;
margin-left: 20px;
width: 363px;

  }

  .intimateeventpoto {

    position: absolute;
height: 193px;
margin-left: 490px;
    width: 363px;
  }

  .corporateventpoto {

    position: absolute;
    height: 200px;
    width: 363px;
    margin-left: 950px;
  }

  .wedding {

  position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 42px;
text-align: center;
margin-top: 210px;
margin-left: 120px;

  }

.intimateevent {

    position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 42px;
text-align: center;
margin-top: 210px;
margin-left: 550px;
}

.corporateevent {

    position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 35px;
line-height: 42px;
text-align: center;
margin-top: 210px;
margin-left: 1000px;
}

.weddingbottomtext1 {

    position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 22px;
text-align: center;
margin-top: 280px;
margin-left: 60px;

}

.weddingbottomtext2 {

    position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 22px;
text-align: center;
margin-top: 310px;
margin-left: 120px;

}

.intimateeventbottomtext1 {


    position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 22px;
margin-top: 30px;
margin-left: 0px;


}

.intimateeventbottomtext2 {


    position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 22px;
text-align: center;
margin-top: 55px;
margin-left: 75px;


}

.corporateeventbottomtext1 {

    
    position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 22px;
text-align: center;
margin-top: 285px;
margin-left: 990px;



}

.corporateeventbottomtext2 {

    position: absolute;
font-family: 'Inter';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 22px;
text-align: center;
margin-top: 309px;
margin-left: 1090px;



}

.hrbottomgalery {

    margin-top: 450px;
}

.galerybottomtext {

font-family: 'Inter';
color: #EBA1A1;
text-align: center;
font-size: 50px;

}

.potogalery1 {

position: absolute;
    width: 411px;
    width: 353.72px;
    margin-left: 20px;
    margin-top: 10px;
}


.potogalery2 {

    position: absolute;
        width: 411px;
        width: 353.72px;
        margin-left: 485px;
        margin-top: 10px;
    }


    
.potogalery3 {

    position: absolute;
        width: 411px;
        width: 353.72px;
        margin-left: 950px;
        margin-top: 10px;
    }

    .hrbottomcontact {


margin-top: 35%;


    }

    .contactbottomtext {

        font-family: 'Inter';
        color: #EBA1A1;
        text-align: center;
        font-size: 50px;
        

    }

    .yeyenmanagement {



        font-family: 'Alata';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 41px;
        text-align: center;

    }

    .alamat {




        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 24px;
        text-align: center;

    }

    .kontak {


        font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 24px;
text-align: center;
    }

    .instagram {

width: 58px;
height: 58px;
position: absolute;
margin-left: 540px;
margin-top: 20px;

    }

   
    .facebook {

width: 58px;
height: 58px;
position: absolute;
margin-left: 645px;
margin-top: 20px;
        
            }

    .youtube {

width: 58px;
height: 58px;
position: absolute;
margin-left: 750px;
margin-top: 20px;
                
                    }